body {
  padding: 0;
  margin: 0;
  background-color: #327932;
  height: 100vh;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}

/* Global variables */
:root {
  --card-size: 1vh;
  --card-width: calc(36 * var(--card-size));
  --card-height: calc(54 * var(--card-size));
  --card-base-x: calc(0.15 * var(--card-width));
  --card-base-y: calc(0.15 * var(--card-width));
}

@media (max-aspect-ratio: 1/1) {
  /* Portrait mode styles */
  :root {
    --card-size: 0.4vh;
  }
}
/* Warning message */
@keyframes hideWarning {
  to {
    --warningPosition: 100%;
  }
}

#warning {
  font-weight: 300;
  position: absolute;
  --warningPosition: 0%;
  top: var(--warningPosition, 0);
  animation: 0s linear 0s 1 forwards running hideWarning;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #327932;
  z-index: 500;
  color: #fff;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    padding: 1rem;
  }

  a {
    color: #fff;
    transition: 0.125s all;

    &:hover {
      color: #02111d;
    }
  }
}

h2 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}
.card {
  transition: var(--card_flip_delay) all;
}

form,
.stage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.stage {
  z-index: 0;
  color: #fff;
  display: flex;
  flex-direction: row;
  @media (max-aspect-ratio: 1/1) {
    flex-direction: column;
  }

  &__body {
    --card-offset: 0;
    text-align: center;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    @media (max-aspect-ratio: 1/1) {
      width: 100%;
      height: 50%;
    }

    &--dealer {
      --stage-center-x: calc(
        75vw -
          (
            var(--card-width) / 2 +
              (var(--card-offset) * var(--card-base-x) / 2)
          )
      );
      --stage-center-y: calc(
        50vh -
          (
            var(--card-height) / 2 +
              (var(--card-offset) * var(--card-base-y) / 2)
          )
      );
      order: 2;
      @media (max-aspect-ratio: 1/1) {
        order: 1;
        --stage-center-x: calc(
          50vw -
            (
              var(--card-width) / 2 +
                (var(--card-offset) * var(--card-base-x) / 2)
            )
        );
        --stage-center-y: calc(
          22vh -
            (
              var(--card-height) / 2 +
                (var(--card-offset) * var(--card-base-y) / 2)
            )
        );
      }
    }

    &--player {
      --stage-center-x: calc(
        25vw -
          (
            var(--card-width) / 2 +
              (var(--card-offset) * var(--card-base-x) / 2)
          )
      );
      --stage-center-y: calc(
        50vh -
          (
            var(--card-height) / 2 +
              (var(--card-offset) * var(--card-base-y) / 2)
          )
      );
      order: 1;
      @media (max-aspect-ratio: 1/1) {
        order: 2;
        --stage-center-x: calc(
          50vw -
            (
              var(--card-width) / 2 +
                (var(--card-offset) * var(--card-base-x) / 2)
            )
        );
        --stage-center-y: calc(
          72vh -
            (
              var(--card-height) / 2 +
                (var(--card-offset) * var(--card-base-y) / 2)
            )
        );
      }
    }
  }

  &__labels {
    display: flex;
    padding: 1rem 0;
    opacity: 0;
    transition: 0.25s all;
    flex-direction: row;
  }

  @media (min-height: var(--label-break)) {
    .stage__labels {
      flex-direction: column;
    }
  }

  @media (max-aspect-ratio: 1/1) {
    /* portrait */
    &.stage__labels--player {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }

  &__main {
    display: none;
  }

  @media (min-height: var(--label-break)) {
    .stage__main {
      display: flex;
      justify-content: center;
    }
    .stage__total {
      text-align: left;
      width: 100%;
      display: flex;
      justify-content: center;

      .sm {
        display: inline-block;
        margin-right: 0.25rem;
      }

      @media (min-height: var(--label-break)) {
        .sm {
          display: none;
        }
      }

      &.user-total {
        counter-increment: userTotalCounter var(--user-total);
      }

      &.dealer-total {
        counter-increment: dealerTotalCounter var(--dealer-total);
      }

      .user-total:after {
        font-weight: 600;
        padding-left: 0.5rem;
        content: counter(userTotalCounter);
      }

      .dealer-total:after {
        font-weight: 600;
        padding-left: 0.5rem;
        content: counter(dealerTotalCounter);
      }
    }
  }
}

input,
input:checked + .label-hit,
#start:not(:checked) + label ~ label,
#start:checked + label,
#stand:checked ~ label {
  display: none;
}

label {
  position: absolute;
  z-index: 100;
  color: #fff;
  width: 10rem;
  display: inline-block;
  text-align: center;
  background-color: #02111d;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.125s;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);

  &.label-hit {
    top: calc(50vh - 2rem);
  }
  &#label-stand {
    top: calc(50vh + 2rem);
  }

  @media (max-aspect-ratio: 1/1) {
    &.label-hit {
      top: 50%;
      left: calc(50vw - 6rem);
    }
    &#label-stand {
      top: 50%;
      left: calc(50vw + 6rem);
    }
  }
  &:hover {
    background-color: lighten(#02111d, 10%);
  }
}

.card {
  position: absolute;
  left: var(--stage-center-x);
  top: var(--stage-center-y);
  transition: 0.5s all;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  width: var(--card-width);
  height: var(--card-height);
  &[class^="card--u"],
  &[class*=" card--u"] {
    opacity: 0;
  }

  &__face {
    background-image: url("https://assets.codepen.io/67732/card-faces.svg");
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-size: auto 400%;
    background-repeat: no-repeat;
  }
  .card:nth-child(1) {
    margin-left: calc(0 * var(--card-base-x));
    margin-top: calc(0 * var(--card-base-y));
  }
  .card:nth-child(2) {
    margin-left: calc(1 * var(--card-base-x));
    margin-top: calc(1 * var(--card-base-y));
    .card__face {
      background-position: calc(-100% * 1) 0;
    }
  }
  .card:nth-child(3) {
    margin-left: calc(2 * var(--card-base-x));
    margin-top: calc(2 * var(--card-base-y));
    .card__face {
      background-position: calc(-100% * 2) 0;
    }
  }
  .card:nth-child(4) {
    margin-left: calc(3 * var(--card-base-x));
    margin-top: calc(3 * var(--card-base-y));
    .card__face {
      background-position: calc(-100% * 3) 0;
    }
  }
  .card:nth-child(5) {
    margin-left: calc(4 * var(--card-base-x));
    margin-top: calc(4 * var(--card-base-y));
    .card__face {
      background-position: calc(-100% * 4) 0;
    }
  }
}

@keyframes showStageLabels {
  to {
    opacity: 1;
  }
}

@keyframes displayDealerHole {
  to {
    margin-left: 0;
  }
}

@keyframes showPlayerCards {
  to {
    opacity: 1;
  }
}

@keyframes showUserTotal {
  to {
    opacity: 1;
  }
}

@keyframes showDealerTotal {
  to {
    opacity: 1;
  }
}
